section#home-reviews
  .review-main
    h2.review-title.active
      span.review-title-1 Đánh Giá
      span.review-title-2 Từ Khách Hàng
    p.review-desc KHÁCH HÀNG CHÚNG TÔI NÓI GÌ
    .review-container
      // Review 1
      .home-review
        .review-content
          img.review-avt(src="/clients/img/index-avatar-1.jpg" alt="")
          img.review-icon(src="/clients/icon/index-review.svg" alt="")
          p.review-script
            | Mình thực sự yêu thích chiếc vòng cổ từ Bear - Jewelry. Chất liệu tinh xảo, thiết kế độc đáo và sang trọng đã khiến mình hoàn toàn hài lòng. Khi đeo đi dự tiệc, mình nhận được rất nhiều lời khen từ bạn bè và cảm thấy tự tin hơn bao giờ hết. Đây thực sự là một lựa chọn tuyệt vời!
      // Review 2
      .home-review
        .review-content
          img.review-avt(src="/clients/img/index-avatar-2.jpg" alt="")
          img.review-icon(src="/clients/icon/review.svg" alt="")
          p.review-script
            | Dây chuyền từ Bear - Jewelry là lựa chọn hoàn hảo cho những dịp đặc biệt của mình. Thiết kế tinh tế, chế tác tỉ mỉ, và chất liệu cao cấp giúp mình luôn cảm thấy nổi bật và tự tin suốt cả buổi tiệc. Rất đáng để sở hữu!
      // Review 3
      .home-review
        .review-content
          img.review-avt(src="/clients/img/index-avatar-3.jpg" alt="" onload="loadReview()")
          img.review-icon(src="/clients/icon/review.svg" alt="")
          p.review-script
            | "Mình đã mua một chiếc lắc tay từ Bear - Jewelry, và đây là món phụ kiện yêu thích nhất của mình. Thiết kế trẻ trung, kiểu dáng thời thượng, và chất liệu sáng bóng, bền đẹp. Đặc biệt, dịch vụ giao hàng nhanh chóng và đóng gói cực kỳ cẩn thận. Rất hài lòng!"
  // 3 dots
  .dot-container-review
    .dot-review.active
    .dot-review
    .dot-review
