div.content-wrapper
  div.content1
    div.ve-chung-toi-wrap
      div.ve-chung-toi
        div(style="color: black !important")
          h1
            b Về chúng tôi
          p Bear - Jewelry là thương hiệu trang sức uy tín tại Việt Nam, chuyên cung cấp các sản phẩm tinh xảo, chất lượng cao với mức giá hợp lý. Chúng tôi tự hào mang đến những thiết kế độc đáo, đa dạng phong cách, phù hợp với mọi cá tính và nhu cầu. Với cam kết đặt sự hài lòng của khách hàng lên hàng đầu, Bear - Jewelry đã trở thành lựa chọn tin cậy của nhiều người yêu trang sức trong suốt thời gian qua.
            
        img(src="https://res.cloudinary.com/dukk4l4ph/image/upload/v1736760848/ShopBanPhuKienHoaiThuong/xn4teouohnlv8tiqndon.png")
    div.su-menh
      img(src="https://res.cloudinary.com/dukk4l4ph/image/upload/v1736760848/ShopBanPhuKienHoaiThuong/afw2pimabqhzpnmrlpwx.png")
      div
        h1
          b Sứ mệnh
        p Tại Bear - Jewelry, chúng tôi tin rằng mỗi món trang sức không chỉ là một sản phẩm mà còn là biểu tượng của phong cách và dấu ấn cá nhân. Sứ mệnh của chúng tôi là mang đến cho khách hàng những trải nghiệm mua sắm hoàn hảo, từ việc chọn lựa các thiết kế tinh xảo phù hợp đến dịch vụ chăm sóc tận tình sau bán hàng. Bear - Jewelry cam kết trở thành người bạn đồng hành đáng tin cậy, cùng bạn tỏa sáng trong mọi khoảnh khắc ý nghĩa của cuộc sống.

    div.tam-nhin
      div
        h1
          b Tầm nhìn
        p Tầm nhìn của chúng tôi là tạo dựng một cộng đồng yêu trang sức, nơi khách hàng không chỉ đến để lựa chọn những thiết kế tinh xảo mà còn để chia sẻ, kết nối và khám phá giá trị phong cách qua từng món trang sức. Chúng tôi mong muốn trở thành điểm đến hàng đầu cho những ai yêu thích trang sức, nơi họ có thể cập nhật xu hướng mới, nhận được sự tư vấn tận tâm và tìm thấy những sản phẩm phản ánh trọn vẹn cá tính và đẳng cấp của mình.
      img(src="https://res.cloudinary.com/dukk4l4ph/image/upload/v1736760848/ShopBanPhuKienHoaiThuong/f3qjsc3rdllymzrfeggv.png")